@{
    ViewData["Title"] = "Home Page";
}

@model UploadViewModel
<form asp-action="Index" enctype="multipart/form-data" method="post">
    <fieldset>
             <select name="shape">
                <option value="">Select a shape</option>
                <option value="square">Square</option>
                <option value="wide">Wide</option>
                <option value="tall">Tall</option>
            </select><br>
            <label asp-for="scale">Scale cropped 10% to 100%</label><br>
            <input asp-for="scale" type="number" value="100" min="10" max="100" step="10"><br>
            <label asp-for="MyImage">Select Image</label><br>
            <input asp-for="MyImage" type="file"><br>
    </fieldset>
    <input type="submit" name="submit" value="Upload" />
</form>
