@{
    ViewData["Title"] = "Home Page";
}

@model UploadViewModel
<form asp-action="Index" enctype="multipart/form-data" method="post">
    <fieldset>
        <div class="form-group row">
            <label for="shape" >Select Shape</label>
            <div class="col-md-10">
                <select name="shape">
                    <option value="square">Square</option>
                    <option value="wide">Wide</option>
                    <option value="extrawide">ExtraWide</option>
                    <option value="tall">Tall</option>
                    <option value="extratall">ExtraTall</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="scale">Scale output image 10% to 100%</label>
            <div class="col-md-10">
                <input asp-for="scale" type="number" value="100" min="10" max="100" step="10">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="MyImage">Select Image</label>
            <div class="col-md-10">
                <input asp-for="MyImage" type="file" required="required">
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <div class="col-md-10">
            <input type="submit" name="submit" value="Upload"/>
        </div>
    </div>
</form>
